@use "./utilities" as *;
@use "./fonts" as *;
body{
	padding: 0;
  @extend .fira-sans-regular; 
}
:root{
  --sidebar_background: #171b22;
  --main_container_background: #0f141c;
}
.fix-bg{
	background-image: url('../background/theme-background.png');
	background-position: 50%;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: 0;
	background: #0f141c;
	background-blend-mode: soft-light;
}

.main{
	display: flex;
	.sidebar-wrapper{
		flex-basis: 300px;
	}
	.content-wrapper{
		flex-grow: 1;
		width: 100%;
	}
}
.content-wrapper{
  background: var(--main_container_background);
}
.main-sidebar-wrapper{
  background: var(--sidebar_background);
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.home-profile-image{
  max-width: 100%;
}

.contact-button{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    + li {
      margin-left: 15px;
    }
    a.btn{
      border-radius: 50px;
      padding: 15px 25px;
      overflow: hidden;
      border: none;
      &.btn-view-work{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: -100px;  
          width: 100%;
          height: 100%;   
          transition: top .35s linear .0s;     
        }
        &:hover{
          span{
            z-index:2;
          }
          &:before{
            z-index: 1;
            top: 0;
            background: red;
          }          
        }
      }
    }
  }
}